
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh">
    <mat-card class="w-75">
      <mat-card-header>
        <h2>User Login</h2>
      </mat-card-header>
      <mat-card-content>
        <form class="example-form" [formGroup]="loginform" (ngSubmit)="proceedlogin()">
          <mat-form-field class="example-full-width w-100">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
          </mat-form-field>
          <mat-form-field class="example-full-width w-100">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>

          <div>
            <button mat-raised-button color="primary" class="me-2">Login</button>
            <a routerLink="/register" mat-raised-button color="accent">New User?</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
</div>


